# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:** 
* List popular languages for Data Science
* List popular open source tools for Data Science 
* Discover commonly used libraries in Data Science

Some of the popular languages that Data Scientists use are : 
1. R 
2. Python 
3. Scala

Some of the commonly used libraries used by Data Scientists include : 
1. TensorFlow 
2. NumPy 
3. SciPy

| Data Science Tools |
| :- |
| Matplotlib |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

def minutes_to_hours(x) : 
    return x/60 

res = minutes_to_hours(200) 

print("200 minutes is approximately " +  str(int(res*100)/100) + " hours")

200 minutes is approximately 3.33 hours

## Author ##
BOUIZZOU El Mehdi